<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">

		<title>antique house</title>

		<link rel="stylesheet" href="ship.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>
	<body>

		<div class="webkit-keyframes">
			<div class="navbar navbar-default navbar-fixed-top semi-transparent" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="index"><img src="img.png" id="logo">
							<p id="brand">
								ANTIQUE HOUSE</p>
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">

							<li id="manue">
								<a href="index">HOME</a>
							</li>
							<li id="manue">
								<a href="/about">WHAT WE DO</a>
							</li>

							<li id="manue">
								<a href="/team">WHO WE ARE</a>
							</li>
							<li id="manue">
								<a href="/contact">CONTACTS</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="shipping">
				<div class="w3-row-padding">
					<div class="w3-third">
						<h2>The Nation's Premier Antique Shipper</h2>
						<hr/>
						<p>Over the past 18 years, Ship Smart has become the largest small mover in the U.S. by partnering with over 300 professional packers across the country. This unprecedented network allows Ship Smart to reach nearly any location quickly, we can arrive
							at your home or business within one to five days of receiving your completed contract.</p>
					</div>

					<div class="w3-third">
						<h2>Custom Packaging And Crating Services</h2>
						<hr/>
						<p>Ship Smart's highly-skilled staff will pack your items either as the original manufacturer intended or in customized crates that will provide incredible security for your treasured antiques. Any concerns for your possessions safety can be assuaged
							by Ship Smart's full replacement insurance that Ship Smart makes available for high value content.</p>
					</div>

					<div class="w3-third">
						<h2>Door To Door Shipping Service Providing</h2>
						<hr/>
						<p>Ship Smart also offers several shipping options to accommodate any schedule or budget. These options range from air transport to standard ground shipping, and Ship Smart's close relationships with shipping companies ensure that you will receive an
							unbeatable price on your move.</p>
					</div>
				</div>

			</div>

			<script src="index.js"></script>

			<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		</body>
	</html>
